@* Un layout doit hériter de LayoutComponentBase *@
@inherits LayoutComponentBase

@* LayoutComponentBase a un paramètre Body de type RenderFragment qui permet d'afficher le composant enfant.*@
@Body

<span>HELLO FROM EMPTY LAYOUT</span>